body
{
    color: #000000;
    background-color: #fdd9af;
    text-align: center;
}

@keyframes cambiarColor {
    0%   { color: red; }
    25%  { color: blue; }
    50%  { color: green; }
    75%  { color: purple; }
    100% { color: red; }
}

.colorido
{
    animation: cambiarColor 2s infinite;
}